<a href="https://colab.research.google.com/github/cascaschatz/Solar_PCL/blob/master/BPstats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
cwd = os.getcwd()
print(cwd)
os.chdir("/content/gdrive/My Drive")

/content

In [ ]:
import pandas as pd
xls = pd.ExcelFile('bp-stats-review-2022-all-data.xlsx')
df_bp = pd.read_excel(xls, engine='openpyxl',sheet_name=None)

In [ ]:
xls.sheet_names

['Contents',
 'Primary Energy Consumption',
 'Primary Energy - Cons by fuel',
 'Primary Energy - Cons capita',
 'CO2 Emissions from Energy',
 'CO2 from Flaring',
 'Natural Gas Flaring',
 'CO2e Methane, Process emissions',
 'CO2e Emissions',
 'Oil - Proved reserves',
 'Oil - Proved reserves history',
 'Oil Production - Barrels',
 'Oil Production - Tonnes',
 'Oil Production - Crude Conds',
 'Oil Production - NGLs',
 'Total Liquids - Consumption',
 'Oil Consumption - Barrels',
 'Oil Consumption - Tonnes',
 'Oil Consumption - EJ',
 'Oil - Regional Consumption',
 'Oil - Spot crude prices',
 'Oil crude prices since 1861',
 'Oil - Refinery throughput',
 'Oil - Refining capacity',
 'Oil - Regional refining margins',
 'Oil - Trade movements',
 'Oil - Inter-area movements',
 'Oil - Trade 2020- 2021',
 'Gas - Proved reserves',
 'Gas - Proved reserves history ',
 'Gas Production - Bcm',
 'Gas Production - Bcf',
 'Gas Production - EJ',
 'Gas Consumption - Bcm',
 'Gas Consumption - Bcf',
 'Gas Consumption - EJ',
 'Gas Prices ',
 'Gas - Inter-regional trade',
 'Gas - LNG imports',
 'Gas - LNG exports',
 'Gas - Trade movts LNG',
 'Gas - Trade movts - pipeline',
 'Coal - Reserves',
 'Coal Production - Tonnes',
 'Coal Production - EJ',
 'Coal Consumption - EJ',
 'Coal Prices',
 'Coal - Trade movements',
 'Coal - Inter area movts',
 'Nuclear Generation - TWh',
 'Nuclear Consumption - EJ',
 'Hydro Generation - TWh',
 'Hydro Consumption - EJ',
 'Renewables Consumption - EJ',
 'Renewables power - EJ',
 'Renewable power - TWh',
 'Renewables Generation by Source',
 'Renewables Generation by Sourc1',
 'Solar Generation - TWh',
 'Solar Consumption - EJ',
 'Wind Generation - TWh',
 'Wind Consumption - EJ',
 'Geo Biomass Other - TWh',
 'Geo Biomass Other - EJ',
 'Biofuels production - Kboed',
 'Biofuels production - PJ',
 'Biofuels Consumption - Kboed',
 'Biofuels consumption - PJ',
 'Electricity Generation',
 'Elec generation by fuel',
 'Elec Gen from Oil',
 'Elec Gen from Gas',
 'Elec Gen from Coal',
 'Elec Gen from Other',
 'Cobalt Production-Reserves',
 'Lithium Production-Reserves',
 'Graphite Production-Reserves',
 'Rare Earth Production-Reserves',
 'Cobalt and Lithium - Prices',
 'Wind Capacity',
 'Solar Capacity',
 'Approximate conversion factors',
 'Definitions',
 'Methodology']

In [ ]:
sheet_used = ['Solar Capacity', 'Renewables Generation by Source',
 'Renewables Generation by Sourc1',
 'Solar Generation - TWh',
 'Solar Consumption - EJ']

In [ ]:
df_bp['Solar Capacity'].columns

Index(['Megawatts',        1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013,        2014,
              2015,        2016,        2017,        2018,        2019,
              2020,        2021],
      dtype='object')

In [ ]:
df_bp['Solar Capacity'].head()

,Megawatts,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,3.0,3.0,5.0,6.0,7.000,9.000,10.000,12.000,14.000,...,766.000,1210.000,1843.000,2519.000,2665.000,2932.000,3095.000,3327.000,3342.000,3629.600
1,Mexico,10.0,11.0,12.0,13.0,14.000,15.000,16.000,16.000,16.000,...,72.800,109.000,174.000,287.000,632.600,1125.740,2541.000,4426.208,5149.000,7026.000
2,US,13.9,14.6,15.2,16.6,176.000,213.000,255.000,293.000,363.000,...,8137.000,11759.000,15984.000,21684.000,32958.000,41357.000,49812.000,59068.000,73813.700,93713.013
3,Argentina,0.0,0.0,0.0,0.0,0.025,0.026,0.026,0.026,0.026,...,6.252,8.257,8.252,8.618,8.806,8.806,191.236,442.111,764.135,1071.366
4,Brazil,0.0,0.0,0.0,0.0,0.000,0.036,0.036,0.716,0.718,...,6.608,12.528,20.697,45.567,127.789,1206.787,2435.022,4613.191,7879.157,13054.926

In [ ]:
df_solar_capacity=pd.melt(df_bp['Solar Capacity'], id_vars=['Megawatts'], value_vars=[1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013,        2014,
              2015,        2016,        2017,        2018,        2019,
              2020,        2021],var_name='Year',value_name='Value')
df_solar_capacity

               Megawatts  Year      Value
0                 Canada  1996      3.000
1                 Mexico  1996     10.000
2                     US  1996     13.900
3              Argentina  1996      0.000
4                 Brazil  1996      0.000
...                  ...   ...        ...
1373         South Korea  2021  18160.575
1374              Taiwan  2021   7700.213
1375            Thailand  2021   3043.620
1376            Viet Nam  2021  16660.490
1377  Other Asia Pacific  2021   2801.298

[1378 rows x 3 columns]

In [ ]:
df_bp['Solar Generation - TWh'].columns

Index(['Terawatt-hours',             1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019,
                   2020,             2021],
      dtype='object')

In [ ]:
df_solar_generation=pd.melt(df_bp['Solar Generation - TWh'], id_vars=['Terawatt-hours'], value_vars=[ 1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019,
                   2020,             2021],var_name='Year',value_name='Value')
df_solar_generation

          Terawatt-hours  Year      Value
0                 Canada  1965   0.000000
1                 Mexico  1965   0.000000
2                     US  1965   0.000000
3              Argentina  1965   0.000000
4                 Brazil  1965   0.000000
...                  ...   ...        ...
5239           Sri Lanka  2021   0.761211
5240              Taiwan  2021   7.920296
5241            Thailand  2021   5.242457
5242             Vietnam  2021  25.770420
5243  Other Asia Pacific  2021   1.494088

[5244 rows x 3 columns]

In [ ]:
df_bp['Solar Consumption - EJ'].columns

Index(['Exajoules (input-equivalent)',                           1965,
                                 1966,                           1967,
                                 1968,                           1969,
                                 1970,                           1971,
                                 1972,                           1973,
                                 1974,                           1975,
                                 1976,                           1977,
                                 1978,                           1979,
                                 1980,                           1981,
                                 1982,                           1983,
                                 1984,                           1985,
                                 1986,                           1987,
                                 1988,                           1989,
                                 1990,                           1991,
                                 1992,                           1993,
                                 1994,                           1995,
                                 1996,                           1997,
                                 1998,                           1999,
                                 2000,                           2001,
                                 2002,                           2003,
                                 2004,                           2005,
                                 2006,                           2007,
                                 2008,                           2009,
                                 2010,                           2011,
                                 2012,                           2013,
                                 2014,                           2015,
                                 2016,                           2017,
                                 2018,                           2019,
                                 2020,                           2021],
      dtype='object')

In [ ]:
df_solar_consumption=pd.melt(df_bp['Solar Consumption - EJ'], id_vars=['Exajoules (input-equivalent)'], value_vars=[ 1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019,
                   2020,             2021],var_name='Year',value_name='Value')
df_solar_consumption

     Exajoules (input-equivalent)  Year     Value
0                          Canada  1965  0.000000
1                          Mexico  1965  0.000000
2                              US  1965  0.000000
3                       Argentina  1965  0.000000
4                          Brazil  1965  0.000000
...                           ...   ...       ...
5239                    Sri Lanka  2021  0.007171
5240                       Taiwan  2021  0.074609
5241                     Thailand  2021  0.049384
5242                      Vietnam  2021  0.242758
5243           Other Asia Pacific  2021  0.014074

[5244 rows x 3 columns]

In [ ]:
df_solar_capacity.to_excel(r'capacity.xlsx', index = False)
df_solar_generation.to_excel(r'generation.xlsx', index = False)
df_solar_consumption.to_excel(r'consumption.xlsx', index = False)